<% provide(:title, 'Brands') %>
<div id="carousel-brands" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner ">
    <div class="item active">
      <!--<%= link_to image_tag('hmphotoani.gif'), brands_path, id: "quality" %>-->
      <img src="http://placehold.it/1140x358/d2c1a0/0f4b4c&text=Shoe+Brand+Highlight+1"/>
      <!--<div class="carousel-caption">
	...
      </div>-->
    </div>
    <div class="item">
      <!--<%= link_to image_tag('hmphotoani.gif'), brands_path, id: "quality" %>-->
      <img src="http://placehold.it/1140x358/d2c1a0/0f4b4c&text=Shoe+Brand+Highlight+2"/>
      <!--<div class="carousel-caption">
	...
      </div>-->
    </div>
    <div class="item ">
      <!--<%= link_to image_tag('hmphotoani.gif'), brands_path, id: "quality" %>-->
      <img src="http://placehold.it/1140x358/0f4b4c/d2c1a0&text=Shoe+Brand+Highlight+3"/>
      <!--<div class="carousel-caption">
	...
      </div>-->
    </div>
    </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-brands" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-brands" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="container center">
<div id="brands" class="row brands">
  <div class="col-sm-6 col-md-4">
    <ul class="list-unstyled">
    <li>Acorn</li>
    <li>Ahnu</li>
    <li>Alegria</li>
    <li>Aravon</li>
    <li>Birkenstock</li>
    <li>Clarks</li>
    <li>Dansko</li>
    <li>Drew</li>
    <li>Dunham</li>
    <li>Earth</li>
    <li>Ecco</li>
    <li>EMU</li>
    </ul>
  </div>
<div class="col-sm-6 col-md-4">
    <ul class="list-unstyled">
    <li>L.B. Evans</li>
    <li>Finn Comfort</li>
    <li>Florsheim</li>
    <li>Haflinger</li>
    <li>Josef Seibel</li>
    <li>Jumping Jacks</li>
    <li>P.W. Minor</li>
    <li>Munro</li>
    <li>New Balance</li>
    <li>Ragg</li>
    <li>Romika</li>
    <li>SAS</li>   
    </ul>
</div>
<div class="col-sm-6 col-md-4">
    <ul class="list-unstyled">
    <li>Saucony</li>
    <li>Sebago</li>
    <li>Skechers</li>
    <li>Stride Rite</li>
    <li>Taos</li>
    <li>Teva</li>
    <li>Think</li>
    <li>Timberland</li>
    <li>Tsukihoshi</li>
    <li>UMI</li>
    <li>Wolky</li>
    </ul>
</div>
</div>
</div>