@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  //padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Logo */
.banner-logo {
  position: absolute;
  margin: -32px 0 0 10px;
/*  left: 70px;
  top: 0px;*/
  z-index: 1;
}

/* Custom Banner */
$bg-default      : #0f4b4c;
$bg-highlight    : #be9c76;
$col-default     : #ecf0f1;
$col-highlight   : #ffffff;
.navbar-default {
      margin-top: 30px;
      background-color: $bg-default;
	border-color: $bg-highlight;
	.navbar-brand {
		color: $col-default;
		&:hover, &:focus { 
			color: $col-highlight; }}
	.navbar-text {
		color: $col-default; }
	.navbar-nav {
		> li {
			> a {
				color: $col-default;
				&:hover,  &:focus {
					color: $col-highlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $col-highlight;
				background-color: $bg-highlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $col-highlight;
				background-color: $bg-highlight; }}}
	.navbar-toggle {
		border-color: $bg-highlight;
		&:hover, &:focus {
			background-color: $bg-highlight; }
		.icon-bar {
			background-color: $col-default; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $col-default; }
	.navbar-link {
		color: $col-default;
		&:hover {
			color: $col-highlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $col-default;
			&:hover, &:focus {
				color: $col-highlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $col-highlight;
				background-color: $bg-highlight; }}}
}

/* line 11, /home/dan/.rvm/gems/ruby-2.1.1@railstutorial_rails_4_0/gems/bootstrap-sass-3.1.1.0/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px; // Changed from default of 20px
  border: 1px solid transparent;
}

/* Custom Carousel CSS */
.carousel-inner {
  .item {
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
}