@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  //padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Logo */
.banner-logo {
  position: absolute;
  margin: -32px 0 0 10px;
/*  left: 70px;
  top: 0px;*/
  z-index: 1;
}

/* Custom Banner */
$bg-default      : #0f4b4c;
//$bg-highlight    : #be9c76;
$bg-highlight	 : #d2c1a0;
$col-default     : #ecf0f1;
$col-highlight   : #ffffff;
.navbar-default {
      margin-top: 30px;
      background-color: $bg-default;
	border-color: $bg-highlight;
	.navbar-brand {
		color: $col-default;
		&:hover, &:focus { 
			color: $col-highlight; }}
	.navbar-text {
		color: $col-default; }
	.navbar-nav {
		> li {
			> a {
				color: $col-default;
				&:hover,  &:focus {
					color: $col-highlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $col-highlight;
				background-color: $bg-highlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $col-highlight;
				background-color: $bg-highlight; }}}
	.navbar-toggle {
		border-color: $bg-highlight;
		&:hover, &:focus {
			background-color: $bg-highlight; }
		.icon-bar {
			background-color: $col-default; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $col-default; }
	.navbar-link {
		color: $col-default;
		&:hover {
			color: $col-highlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $col-default;
			&:hover, &:focus {
				color: $col-highlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $col-highlight;
				background-color: $bg-highlight; }}}
}

/* line 11, /home/dan/.rvm/gems/ruby-2.1.1@railstutorial_rails_4_0/gems/bootstrap-sass-3.1.1.0/vendor/assets/stylesheets/bootstrap/_navbar.scss */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px; // Changed from default of 20px
  border: 1px solid transparent;
}

/* Custom Carousel CSS */
.carousel-inner {
  .item {
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
}
/* line 82, /home/dan/.rvm/gems/ruby-2.1.1@railstutorial_rails_4_0/gems/bootstrap-sass-3.1.1.0/vendor/assets/stylesheets/bootstrap/_carousel.scss */
.carousel-control.left {
  background-image: none;
  background-repeat: repeat;
}
/* line 85, /home/dan/.rvm/gems/ruby-2.1.1@railstutorial_rails_4_0/gems/bootstrap-sass-3.1.1.0/vendor/assets/stylesheets/bootstrap/_carousel.scss */
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
  background-repeat: repeat;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/* Custom CSS */
.brands {
  //background-color: $bg-highlight; 
}

/* Google Maps */
  #map-canvas {
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }