<div itemscope itemtype="http://schema.org/ShoeStore">
<div itemprop="name"><strong>Roderer Shoes</strong></div>
<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span itemprop="streetAddress">5500 N Main St</span><br>
<span itemprop="addressLocality">Dayton</span>,
<span itemprop="addressRegion">Ohio</span> 
<span itemprop="postalCode">45415</span><br><br>
Phone: <span itemprop="telephone">937-275-4911</span><br>
Email: <span itemprop="telephone">(425) 123-4567</span>
  <a href="mailto:roderershoes@att.net" itemprop="email">
    roderershoes@att.net</a>
</div>
</div>