<div itemscope itemtype="http://schema.org/ShoeStore" class="caption">
  <p>
    <time itemprop="openingHours" datetime="Mo,Th 9:30-20:00">Monday & Thursday from 9:30am till 8pm</time>
  </p>
  <p>
    <time itemprop="openingHours" datetime="Tu,We,Fr,Sa 9:30-18:00">Tuesday, Wednesday, Friday, and Saturday from 9:30am till 6pm</time>
  </p>
</div>